{% extends "balanced_diets/base.html" %}
{% block content %}
<div class="container text-center rounded" style=" max-width: 300px; display: flex; justify-content: center; align-items: center; height: 100%; ">
    <form action="{% url 'balanced_diets:edit_kcal'%}" method='post'>
        {% csrf_token %}

        <div class="input-group mb-3 mt-3">
            <label for="id_gender" class="input-group-text">Gender&nbsp&nbsp</label>
            <select class="form-select" name="gender" value="{{ kcal.gender }}" id="id_gender">
            <option value="M" {% if kcal.gender == 'M' %} selected {% endif %} >Мужской</option>
            <option value="F" {% if kcal.gender == 'F' %} selected {% endif %}>Женский</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <label for="id_name" class="input-group-text">Name&nbsp&nbsp&nbsp&nbsp</label>
            <input type="text" name="name" class="form-control text-center" value="{{ user.username }}" id="id_name" readonly>
        </div>

        <div class="input-group mb-3">
            <label for="id_weight" class="input-group-text">Weight&nbsp&nbsp</label>
            <input type="number" name="weight" class="form-control text-center" value="{{ kcal.weight }}" id="id_weight">
        </div>

        <div class="input-group mb-3">
            <label for="id_height" class="input-group-text">Height&nbsp&nbsp</label>
            <input type="number" name="height" class="form-control text-center" value="{{ kcal.height }}" id="id_height">
        </div>

        <div class="input-group mb-3">
            <label for="id_age" class="input-group-text">Age&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input type="number" name="age" class="form-control text-center" value="{{ kcal.age }}" id="id_age">
        </div>

        <div class="input-group mb-3">
            <label for="id_activity" class="input-group-text">Activity</label>
            <select class="form-select" name="activity"  id="id_activity" >
            <option value="1,2" {% if kcal.activity == '1,2' %} selected {% endif %}>Сидячий образ жизни.</option>
            <option value="1,375" {% if kcal.activity == '1,375' %} selected {% endif %}>До трех малоинтенсивных тренировок в неделю.</option>
            <option value="1,55" {% if kcal.activity == '1,55'%} selected {% endif %}>Тренировки три-четыре раза в неделю, тренировки интенсивные, но не тяжелые.</option>
            <option value="1,7" {% if kcal.activity == '1,7'%} selected {% endif %}>Ежедневные занятия спортом или ежедневная работа, связанная с большим количеством перемещений и ручного труда.</option>
            <option value="1,9" {% if kcal.activity == '1,9'%} selected {% endif %}>Экстремальная активность. Профессиональный спортсмен или работа с тяжестями и т.д.</option>

</select>
        </div>

        <div class="mb-3">
            <label for="id_lactose" class="form-check-label">Lactose</label>
            <input class="form-check-input" type="checkbox" name="lactose" class="form-control text-center" id="id_lactose"
            {% if kcal.lactose %} checked {% endif %}>
        </div>
        <div class="mb-3">

            <label for="id_vegan" class="form-check-label">Vegan</label>
            <input class="form-check-input" type="checkbox" name="vegan" class="form-control text-center" id="id_vegan"
            {% if kcal.vegan %} checked {% endif %}>


        </div>



        <button type="submit" class="btn btn-dark mb-3"  >Изменить</button>
        <input type="hidden" name="next" value="{% url 'balanced_diets:my_diet' %}" />

    </form>
    </div>




{% endblock content %}
