{% extends "balanced_diets/base.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="d-grid gap-2 col-6 mx-auto" style="position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%)">
  <a class="btn btn-dark" style="background-color: #d9b985" role="button" href="{% url 'balanced_diets:new_kcal' %}">Рассчитать КБЖУ</a>
  <a class="btn btn-dark" style="background-color: #d9b985" type="button">Составить меню</a>
</div>
{% else %}
<div class="d-grid gap-2 col-6 mx-auto" style="position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%)">
<h1>You must be logged in.</h1>
</div>
{% endif %}
{% endblock content %}