{% extends "balanced_diets/base.html" %}
{% block content %}
    {% if kal is not None %}
        <div style="margin-left: 10%">
         <h1>
        <ul class="list-group">Ваша суточная норма :
            <li>Калории: {{kal}}</li>
            <li>Белки: {{belki}}</li>
            <li>Жиры: {{zhiri}}</li>
            <li>Углеводы: {{ugl}}</li>
        </ul>
             </h1>
              <a class="btn btn-dark" style="background-color: #d9b985" role="button" href="{% url 'balanced_diets:edit_kcal' %}">Изменить свои данные</a>
        </div>




    {% else %}
        <h1> Подсчитайте калории на главной странице!</h1>
    {% endif %}
{% endblock content %}
