{% extends "balanced_diets/base.html" %}
{% block content %}


    <div class="container text-center rounded" style=" max-width: 300px; display: flex; justify-content: center; align-items: center; height: 100%; ">
    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}

        <div class="mb-3 mt-3">
            <label for="id_username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control text-center" id="id_username">
        </div>

        <div class="mb-3">
            <label for="id_password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control text-center" id="id_password">
        </div>

        <button type="submit" class="btn btn-dark mb-3"  style="background-color: #d9b985 !important">Login</button>
        <input type="hidden" name="next" value="{% url 'balanced_diets:index' %}" />

    </form>
    </div>
    {% if form.errors %}
        <p>Your username and password didn't match!</p>
    {% endif %}

{% endblock content %}